<div id="recipe-container" style="padding-top: 50px">
   <h1 style="color: white">Add a recipe!</h1>

  <!-- Each image is 350px by 233px -->
  <div id="photo-container" class="scrolling">
    <div class="photobanner">
      <% @recipes.each do |recipe| %>
        <!-- <a href="#" class="recipe-link" >
          <span class="recipe-title" ><%= recipe.name %></span>
          <img draggable="true" ondragstart="drag(event)" src=<%= recipe.photo %> class="recipe-photo" id="<%= recipe.id %>">
        </a> -->
        <%= link_to image_tag(recipe.photo, class: "recipe-photo"), recipe_path(recipe), remote: true, class: "recipe-link" %>
      <% end %>

      <!--
    <a href="#"><img id="1" draggable="true" ondragstart="drag(event)" class="first" src="http://www.fillmurray.com/350/233"></a>
 -->
  </div>

  <div id="showFoodLogModal">
    <%= render "show_modal" %>
  </div>


  </div>
  <div id="plan-area" class="row" >
    <div class="col-md-4 plan-photo-area" ondrop="drop(event)" ondragover="allowDrop(event)">Column 1
      <%# if @meal_plan %>
        <% @meal_plan.each do |meal| %>
          <div id="recipe-photos">
            <%= render "/recipes/recipe", recipe: meal%>
          </div>
        <% end %>
      <%# end %>
    </div>
    <div class="col-md-8">Column 2</div>
  </div>

</div>
</div>
</div>


<div class="container daily-progress">
  <div style="text-align: center"><h4>Today's Goals</h4></div>
  <h3>Calories</h3>
  <div class="progress">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
    aria-valuemin="0" aria-valuemax="100" style="width:40%">
      40%
    </div>
  </div>

  <h3>Fat</h3>
  <div class="progress">
    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50"
    aria-valuemin="0" aria-valuemax="100" style="width:50%">
      50%
    </div>
  </div>

  <h3>Carbs</h3>
  <div class="progress">
    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
    aria-valuemin="0" aria-valuemax="100" style="width:60%">
      60%
    </div>
  </div>

  <h3>Protein</h3>
  <div class="progress">
    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70"
    aria-valuemin="0" aria-valuemax="100" style="width:70%">
      70%
    </div>
  </div>
</div>
