<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= @recipe.ingredients %>
</p>

<p>
  <strong>Calories:</strong>
  <%= @recipe.calories %>
</p>

<p>
  <strong>Servings:</strong>
  <%= @recipe.servings %>
</p>

<p>
  <strong>Fats:</strong>
  <%= @recipe.fats %>
</p>

<p>
  <strong>Carbs:</strong>
  <%= @recipe.carbs %>
</p>

<p>
  <strong>Proteins:</strong>
  <%= @recipe.proteins %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @recipe.tag %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @recipe.photo %>
</p>

<p>
  <strong>Directions:</strong>
  <%= @recipe.directions %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
