
<!-- Sign Up Modal -->
<div class="modal fade" id="SignUpModal" tabindex="1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog container" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign In</h4>
      </div>
      <div class="modal-body">
        <!-- <form action="post">
          <input type="text" placeholder="Username/Email" class="input-field"></input><br>
          <input type="text" placeholder="Password" class="input-field"></input>
        </form> -->
        <% @user = User.new %>
        <%= @user.errors.full_messages.join(", ") %>

        <%= form_for @user do |f| %>
        <div>
          <%= f.label :first_name %>
          <%= f.text_field :first_name %>
        </div>
        <div>
          <%= f.label :last_name %>
          <%= f.text_field :last_name %>
        </div>
        <div>
          <%= f.label :email %>
          <%= f.email_field :email %>
        </div>
        <div>
          <%= f.label :password %>
          <%= f.password_field :password %>
        </div>
        <div>
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation %>
        </div>
        <%= f.submit "Sign Up" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
