
<!-- Sign Up Modal -->
<div class="modal fade" id="SignUpModal" tabindex="1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog container" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign up to set up your profile</h4>
        <h6>Please enter your information below</h6>
      </div>
      <div class="modal-body sign-in-body">

        <% @user = User.new %>
        <%= @user.errors.full_messages.join(", ") %>

        <%= form_for @user do |f| %>
          <%= f.text_field :first_name, placeholder: "First Name...", class: "sign-up-input" %>
          <%= f.text_field :last_name, placeholder: "Last Name...", class: "sign-up-input" %>
          <%= f.email_field :email, placeholder: "Email...", class: "sign-up-input" %>
          <%= f.password_field :password, placeholder: "Password...", class: "sign-up-input" %>
          <%= f.password_field :password_confirmation, placeholder: "Confirm Password...", class: "sign-up-input" %>
        <%= f.submit "Sign Up", class: "btn btn-primary log-in-button" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
