<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>


  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag "jumbo1.jpg", class: "carousel-image" %>
    </div>
    <div class="item">
      <%= image_tag "jumbo2.jpg", class: "carousel-image" %>
    </div>
    <div class="item">
      <%= image_tag "jumbo3.jpg", class: "carousel-image" %>
    </div>
  </div>

  <div class="carousel-caption text apply-gradient">
    <div class="container">
    <div class="section-header section-boxed" style="padding: 5px">
      <h1 id="main-title">My Homepage</h1>
      <nav class="navbar">
        <div class="header-wrapper" >
          <div class="col-md-12">
          <ul class="nav navbar-nav container">
            <li class="home-link"><a href="/" class="link">HOME</a></li>
            <li class="home-link"><a href="/about" class="link">ABOUT</a></li>
            <!-- <li><a href="#" class="link">RECIPES</a></li> -->
            <% if user_signed_in? %>
              <li class="home-link"><%= link_to "MEAL PLANNER", recipes_path, class: "link" %></li>
            <% else %>
              <li><a type="button" data-toggle="modal" data-target="#LogInModal" class="link">MEAL PLANNER</a></li>
            <% end %>
            <li class="home-link">
              <a href="#" class="dropdown-toggle link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%=  user_signed_in? ? "#{current_user.full_name.upcase}" : "PROFILE" %><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <% if user_signed_in? %>
                <li><%= link_to "My Profile", new_stat_path %></li>
                <li><%= link_to "Fitbit Authorization", auth_fitbit_path %></li>
                <li><%= link_to "Sign Out", sessions_path, method: :delete %></li>
                <% else %>
                <li class="">
                  <a type="button" data-toggle="modal" data-target="#LogInModal">
                    Log In
                  </a></li>
                <li class="">
                  <a type="button" data-toggle="modal" data-target="#SignUpModal">
                    Sign Up
                  </a></li>
                <% end %>
              </ul>
            </li>
          </ul>
        </nav>

        </div>
      </div>
    </div>
    </div>

  </div>
</div>

<div id="image-wrapper">
  <div class="col-md-6 flip-image1" style="visibility: hidden" >
    <h2 class="flip-text"><span class="flip-text-span">Supplement your training with a tailored diet</span></h2>
  </div>

  <div class="col-md-6 flip-image2" style="visibility: hidden" >
    <h2 class="flip-text"><span class="flip-text-span">Take the guess work out of weight loss</span></h2>
  </div>
</div>

<div class="home-footer">
  <h3 style="margin: 0; padding: 4vmin">Connect with us.</h3>
  <div class="container" style="width: 60%">
    <div class="row" >
      <div class="col-xs-3">
          <div class="icon-border">
            <a href="#" class="icon-link">
              <div class="icon twitter">
              </div>
            </a>
          </div>
        <h6>FOLLOW ON TWITTER</h6>
      </div>
      <div class="col-xs-3">
        <div class="icon-border">
          <a href="#" class="icon-link">
            <div class="icon facebook">
            </div>
          </a>
        </div>
        <h6>LIKE ON FACEBOOK</h6>
      </div>
      <div class="col-xs-3">
        <div class="icon-border">
          <a href="#" class="icon-link">
            <div class="icon linkedin">
            </div>
          </a>
        </div>
        <h6>CONNECT ON LINKEDIN</h6>

      </div>
      <div class="col-xs-3">
          <div class="icon-border">
            <a href="#" class="icon-link">
              <div class="icon google-plus">
              </div>
            </a>
          </div>
        <h6>CONNECT ON GOOGLE+</h6>
      </div>

    </div>
  </div>
</div>
<div id="footer-end">
  <a href="#" class="footer-link">About</a>
  <a href="#" class="footer-link">Help</a>
  <a href="#" class="footer-link">Ask Questions</a>
  <a href="#" class="footer-link">Contact Us</a>
  <a href="#" class="footer-link">Blog</a>
</div>



<%= render "signIn" %>
<%= render "signUp" %>
<%# render "movingNav" %>
