<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>


  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag "jumbo1.jpg", class: "carousel-image" %>
    </div>
    <div class="item">
      <%= image_tag "jumbo2.jpg", class: "carousel-image" %>
    </div>
    <div class="item">
      <%= image_tag "jumbo3.jpg", class: "carousel-image" %>
    </div>
  </div>

  <div class="carousel-caption text apply-gradient">
    <div class="container">
    <div class="section-header section-boxed" style="padding: 5px">
      <h1 id="main-title">My Homepage</h1>
      <nav class="navbar">
        <div class="header-wrapper" >
          <div class="col-md-12">
          <ul class="nav navbar-nav container">
            <li class="home-link"><a href="/" class="link">HOME</a></li>
            <li class="home-link"><a href="/test" class="link">ABOUT</a></li>
            <!-- <li><a href="#" class="link">RECIPES</a></li> -->
            <% if user_signed_in? %>
              <li class="home-link"><a href="/recipes" class="link">MEAL PLANNER</a></li>
            <% else %>
              <li class="home-link"><a data-toggle="modal" data-target="#LogInModal" class="link">MEAL PLANNER</a></li>
            <% end %>
            <li class="home-link">
              <a href="#" class="dropdown-toggle link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%=  user_signed_in? ? "#{current_user.full_name.upcase}" : "PROFILE" %><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <% if user_signed_in? %>
                <li><%= link_to "My Profile", new_stat_path %></li>
                <li><%= link_to "Sign Out", sessions_path, method: :delete %></li>
                <% else %>
                <li class="">
                  <a type="button" data-toggle="modal" data-target="#LogInModal">
                    Log In
                  </a></li>
                <li class="">
                  <a type="button" data-toggle="modal" data-target="#SignUpModal">
                    Sign Up
                  </a></li>
                <% end %>
              </ul>
            </li>
          </ul>
        </nav>

        </div>
      </div>
    </div>
    </div>

  </div>
</div>
  <div class="col-md-6 flip-image1" style="visibility: hidden" >
    <h2 class="flip-text"><span class="flip-text-span">Supplement your training with a tailored diet</span></h2>
  </div>

  <div class="col-md-6 flip-image2" style="visibility: hidden" >
    <h2 class="flip-text"><span class="flip-text-span">Take the guess work out of weight loss</span></h2>
  </div>

<div class="home-footer">
  <a href="#"><i class="fa fa-github"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-facebook"></i></a>
  <a href="#"><i class="fa fa-google-plus"></i></a>
</div>




<%= render "signIn" %>
<%= render "signUp" %>
<%= render "movingNav" %>
